# uhuj

In [2]:
print("Hello World!")

Hello World!

In [3]:
x=2
print(x)

2

First Start

In [2]:
import pandas as pd

In [3]:
loans = pd.read_csv("Data\Inferential Statistics - Student Loan.csv", low_memory=False)
loans.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [29]:
loans['Rec'] = loans['Recovery (%)'].apply(lambda x:x[:-1])
loans['Rec'].head
pd.to_numeric(loans['Rec'])

0       20.00
1        5.10
2       24.86
3        2.29
4        3.47
        ...
9995    20.19
9996    38.38
9997    28.40
9998    37.37
9999    22.55
Name: Rec, Length: 10000, dtype: float64

In [23]:
loans['Exposure at Default (in lakh Rs.)'].head()

0    11.50
1     0.24
2     0.04
3    13.81
4    19.84
Name: Exposure at Default (in lakh Rs.), dtype: float64

In [4]:
loans.columns

Index(['Customer No.', 'Exposure at Default (in lakh Rs.)', 'Recovery (%)',
       'Probability of Default', 'Unnamed: 4', 'Unnamed: 5'],
      dtype='object')

In [28]:
loans['new'] = loans['Exposure at Default (in lakh Rs.)'] * loans['Rec']
loans['new'].head()

TypeError: can't multiply sequence by non-int of type 'float'